body {
  padding-top: 5rem;
}

.coinLogo {
  width: 2em;
  height: 2em;
  margin: auto;
}

.coinLogo small {
  width: 1.5em;
  height: 1.5em;
}

.grayOut {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

#rateTable td {
  vertical-align: middle;
}

#disclaimer {
  font-size: 0.75em;
  text-align: center;
}

@media (min-width: 767px) {
  #rateTable_length label {
    float: left;
  }

  #rateTable_info {
    float: left;
  }
}

/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

/**===== dots =====*/
#dots {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 35px;
  width: 170px;
  margin: -35px 0 0 -85px;
  z-index: 1;
}

#dots span {
  position: absolute;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-animation: dots 1s infinite ease-in-out;
          animation: dots 1s infinite ease-in-out;
}

#dots span:nth-child(1) {
  left: 0px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#dots span:nth-child(2) {
  left: 45px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#dots span:nth-child(3) {
  left: 90px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#dots span:nth-child(4) {
  left: 135px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@keyframes dots {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: #d62d20;
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    background: #ffa700;
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    background: #008744;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: #0057e7;
  }
}
@-webkit-keyframes dots {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: #d62d20;
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    background: #ffa700;
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    background: #008744;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: #0057e7;
  }
}
/** END of dots */