{% extends "template.html" %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
{% endblock %}

{% block styles %}
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Celsius APY Tracker</h1>
        <div class="alert alert-success" role="alert" id="signupSuccess" style="display: none;">
            <h4 class="alert-heading"><i class="bi bi-check-square"></i> You have been registered for alerts!</h4>
            <p>If this is your first time signing up you will need to confirm your email first. Check your email for your confirmation link.</p>
        </div>
        <div class="alert alert-danger" role="alert" id="signupFailure" style="display: none;">
            <h4 class="alert-heading"><i class="bi bi-x-square"></i> Something went wrong!</h4>
            <p>We were not able to register you for alerts. Please try again later. If this problem persist please contact us.</p>
        </div>
        <table id="rateTable" class="table table-striped dt-responsive" >
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>Ticker</th>
                    <th>Current Rate</th>
                    <th>Prior Rate</th>
                    <th>Change</th>
                    <th>Change Date</th>
                    <th>Alerts</th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Signup Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signUpModalLabel">Sign up for alerts</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h6 style="padding-bottom: .4em;">Sign up to get automated notifications of rate changes.</h6>
                <div id="dots" style="display:none;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
              <div class="alert alert-danger" role="alert" id="signupEmailAlert" style="display: none;">
                Please enter a valid email!
              </div>
              <div class="alert alert-danger" role="alert" id="signupCoinAlert" style="display: none;">
                Please select at least one coin!
              </div>
              <div class="mb-3">
                <label for="signupEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="signupEmail" placeholder="name@example.com">
              </div>

              {%  for coin in  coinList%}
                  {% if loop.index % 2 != 0 %}
                      <div class="row">
                        <div class="col grayOut" style="text-align: right;" data-coin="{{ coin.symbol }}">
                          {{ coin.symbol }} <img class="coinLogo small" src="{{ coin.image }}" alt="{{ coin.name }}" id="img-{{ coin.symbol }}">
                        </div>
                        <div class="col-1">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="{{ coin.symbol }}">
                          </div>
                        </div>
                        <div class="col-1"></div>
                  {% else %}
                        <div class="col-1">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="{{ coin.symbol }}">
                          </div>
                        </div>
                        <div class="col grayOut" style="margin-left: 0.5em;" data-coin="{{ coin.symbol }}">
                            <img class="coinLogo small" src="{{ coin.image }}" alt="{{ coin.name }}" id="img-{{ coin.symbol }}"> {{ coin.symbol }}
                        </div>

                      </div>
                  {% endif %}
              {% endfor %}
              {% if coinList|length % 2 != 0 %}
                  <div class="col-1"></div>
                  <div class="col" style="margin-left: 0.5em;"></div>
                  </div>
              {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="signUpModalSubmit">Submit</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block disclaimer %}
    <sup>*</sup>Historical Data available as of March 1st, 2021. Rates shown are APY. <br />
    Rate data from Celsius Developer API. This website is not affiliated with Celsius Network. All logos property of their respective owners.
{% endblock %}